.main {
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input label {
  font-weight: bold;
  /* color: var(--main-color); */
  font-size: 1.4rem;
  color: white;
  letter-spacing: 2px;
}

.input input {
  width: 15rem;
  margin: 1rem ;
  border-radius: 15px;
  height: 2rem;
  outline: none;
  margin-left: -1rem;
  border: 1px solid rgba(16, 23, 48, 0.5);
  font-size: 1rem;
  text-indent: 2rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.input label input {
  position: relative;
}

.input input:focus,
.input input:hover {
  border: 1px solid var(--main-color);
}

.input label svg {
  position: relative;
  z-index: 30;
  left: 1rem;
  top: 0.3em;
}

.main button {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 5px;
  /* background-color: var(--main-color); */
  background: linear-gradient(300deg, #e1d7d7, #ffffff, #d0c9c9);
  /* color: white; */
  color: rgb(10, 23, 48);
  outline: 0;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(17, 17, 17, 0.5);
}
.main button:hover,
.main button:focus {
  /* box-shadow: 3px 3px 5px rgba(16, 53, 91, 1); */
  /* box-shadow: 1px 1px 1px 1px rgba(17, 17, 17, 0.5); */
  background: rgb(177, 180, 187);
}

.main button:disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.error {
  color: rgb(218, 18, 18);
}
