.body {
  width: 100vw;
  height: calc(100vh - 4rem);
  margin-top: 4rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    300deg,
    #101730,
    #12355b,
    #101730,
    #12355b,
    #101730
  );
  background-size: 300% 300%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
