.Card {
  width: 40rem;
  height: 25rem;
  border: 1px solid rgba(16, 23, 48, 0.7);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 3px 3px 5px rgba(16, 23, 48, 0.5),
    inset 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4rem 1fr 6rem;
  grid-template-areas:
    'titulo titulo'
    'temp desc'
    'vento sol';
}

.Card ul {
  list-style: none;
}

.Card h1 {
  color: var(--main-color);
  text-align: center;
  grid-area: titulo;
}
.Card ul li,
.sol ul li {
  color: var(--main-color);
  font-size: 1.3rem;
  font-weight: bold;
}
.Card ul li span,
.sol ul li span {
  color: var(--secondary-color);
  font-weight: normal;
}

.temp {
  grid-area: temp;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.desc {
  grid-area: desc;
}

.vento {
  grid-area: vento;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vento img {
  margin: 0 0.5rem;
  width: 50px;
  height: 50px;
}

.icon,
.direction {
  width: 28px;
  height: 28px;
  margin-bottom: -7px;
}

.direction {
  font-size: 2.5rem;
  margin-bottom: -15px;
  margin-left: -200px;
}

.sol {
  grid-area: sol;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: center;
}

.sunIcons {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.sol div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sol div p {
  margin-top: 1rem;
}
