.header {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(16, 23, 48, 0.5);
  position: fixed;
  z-index: 1000;
  padding: 0.5rem 1rem;
  box-shadow: 5px 0px 3px rgba(16, 23, 48, 0.5);
}

.header h1 {
  display: inline-block;
  margin-left: 1rem;
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 3px 3px rgba(16, 23, 48, 0.3);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 5rem;
  height: 5rem;
}
