@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

:root {
  --main-color: rgb(18, 53, 91);
  --secondary-color: rgb(16, 23, 48);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

a {
  text-decoration: none;
  color: rgb(18, 53, 91);
  /* color: rgb(16, 23, 48); */
}

ul {
  list-style: none;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.4s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}