.devCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    height: 25rem;
    padding: 1rem;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    background: rgba(0, 9, 3, 0.2);
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(242, 242, 244, 0.1);
    border: 1px solid var(--secondary-color); 
}

.devImage {
    width: 200px;
    transition: 0.5s;
    border-radius: 100%;
}

.devName {
    color: white;
    font-size: larger;
    padding: 0.8rem;
}

.devIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;  
 }
 
 .devIcons svg {
     color: rgb(211, 197, 235);  
     width: 4em;
     height: 2em;
 }

 .devIcons svg:hover {
    transform: scale(1.5);
    transition: 0.5s;
 }